<footer class="footer py-2 mt-auto" style="background-color: rgb(201, 191, 191); ;">
    <div class="container text-center ">
        <span class="text-muted">&copy; College Bazar</span>
    </div>
  
  </footer>